*~
autobuild/version.py
build/
coverage.xml
dist/
.coverage
.idea
.venv
.vscode
*.pyc
*.swp
*.egg-info
*.eggs/
tests/data/packages-failures-*
tests/data/packages-install-*
tests/data/nourl-install-*
virtualenv/
