name: CI

on:
  pull_request:
  push:
    branches: [main]
    tags: [v*.*.*]

jobs:
  build:
    name: Test & Build
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    env:
      OS: ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0 # fetch all history for setuptools_scm to be able to read tags

      - uses: actions/setup-python@v4
        with:
          python-version: 3.x

      - name: Install python dependencies
        run: pip install .[dev,build]

      - name: Run tests
        shell: bash
        run: |
          # Set up git user for git command to work with tests
          git config --global user.name "tests"
          git config --global user.email "tests@example.com"
          pytest -v --cov=autobuild --cov-report=xml tests/

      - name: Build python package
        run: python -m build

      - name: Upload coverage
        uses: codecov/codecov-action@v3
        if: matrix.os == 'ubuntu-latest'
        with:
          env_vars: OS

      - uses: actions/upload-artifact@v3
        with:
          name: dist-${{ matrix.os }}
          path: dist

  publish:
    name: Publish to PyPI
    needs: build
    runs-on: [ubuntu-latest]
    if: github.event_name != 'pull_request'
    steps:
      - uses: actions/download-artifact@v3
        with:
          name: dist-ubuntu-latest
          path: dist

      - name: Test Publish package
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          password: ${{ secrets.SHARED_PYPI_TEST_TOKEN }}
          repository_url: https://test.pypi.org/legacy/

      - name: Publish package
        uses: pypa/gh-action-pypi-publish@release/v1
        if: startsWith(github.event.ref, 'refs/tags/v')
        with:
          password: ${{ secrets.SHARED_PYPI_TOKEN }}
